section {
    max-width: 300px;
    background-color: darkgrey;
}
section > label {
    display: block;
    cursor: pointer;
}

section > label > input[type="radio"] {
    display: none;
}

section > label > h3 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #444;
    transition: background-color 0.25s ease;
}

section > label > div {
    max-height: 0;
    overflow: hidden;
    background-color: #f4f4f4;
    color: #000;
    transition: max-height 0.4s ease-in-out;
}

section > label > div > p {
    margin: 0;
    padding: 20px;
}

section > label > input[type="radio"]:checked + h3 + div{
    max-height: 200px;
}
section > label > input[type="radio"]:not(:checked) + h3 + div{
    max-height: 0;
}